<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.onlytechve.otgps"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>OnlyTech GPS </name>

  <description>
    Aplicacion para el manejo de dispositivos de rastreo GPS mediante mensajes de texto.
  </description>

  <author href="http://www.OnlyTech.com.ve" email="support@onlytech.com.ve">
      Hardeep Shoker
  </author>
   <plugin name="com.phonegap.plugins.sms"  /> 

   <preference name="phonegap-version" value="v5.1.1" />


   <preference name="phonegap-version" value="3.0.0" />
</widget>

